[Desktop Entry]
Type=Application
Version=1.0
Name=Boot-Select
Name[ko]=부팅 메뉴 선택기
GenericName=boot-select
GenericName[ko]=시스템 부팅 메뉴 설정 프로그램
Comment=Kakaotalk Installer
Comment[ko]=시스템 부팅시 사용할 기본값을 설정합니다
Icon=/usr/share/icons/hicolor/256x256/apps/boot-select.png
Exec=boot-select
Terminal=false
Categories=Utility;
Keywords=boot,부팅,grub,menu,부트로더,부팅메뉴,메뉴,그럽,grub
