# common deb
.DS_Store
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
/.vagrant
/*/debian/hello
/*/debian/files
/*/hello
/tutorial-1/packageroot/usr

# add for this pkg
debhelper-build-stamp
debian/.debhelper/
debian/DEBIAN/ 
debian/boot-select
debian/files
debian/*.log
debian/*.substvars
