<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>HamoniKR Desktop Policy Project</vendor>
  <vendor_url>https://hamonikr.org</vendor_url>

  <action id="org.hamonikr.pkexec.boot-select">
    <message>Authentication is required to run the Boot-Select Configuration</message>
    <message xml:lang="ko">이 프로그램은 관리자 권한이 필요합니다.</message>    
    <icon_name>boot-select</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/boot-select-exec</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
