Package: boot-select
Version: 1.0.2
Architecture: all
Maintainer: HamoniKR <pkg@hamonikr.org>
Installed-Size: 53
Depends: zenity, grub2-common
Section: utils
Priority: optional
Description: Boot Menu Select tool for HamoniKR
 하모니카 리눅스의 부팅 메뉴를 선택할 수 있는 프로그램.
